.flip-card {
  background-color: transparent;
  width: 70vw;
  height: 90vh;
  perspective: 10000px;
  font-family:"Press Start 2P";
  margin: 2%;
}

.flip-card-inner {
  position: relative;
  top: 3%;
  left: 20%;
  width: 70vw;
  height: 90vh;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgb(74, 255, 65);
  border-radius: 1rem;
  
}
.flip-card-back{
  display: grid;
  grid-template-columns:  50% 50%;
  grid-template-rows: 10% 90%;
  grid-gap: 10px;
}
.imgBack{
  grid-column: 1;
  grid-row: 1 /span 2;
  margin: 5%;
  width: 90%;
  height: 90%;
}
.tituloBack{
  margin: 5%;
  grid-column: 2;
  grid-row: 1;
}
.texto{
  grid-column: 2;
  grid-row: 2;
}

.flip-card-front {
  /* background-image:url('../public/img/fondo.png');
  background-size: 70vw 90vh; */
  background: linear-gradient(120deg, rgb(134, 248, 134) 60%, rgb(77, 239, 37) 95%,
     rgb(27, 244, 31) 40%, rgb(65, 239, 21) 48%);
  color: rgb(0, 0, 0);
}

.flip-card-back {
  background: linear-gradient(120deg, rgb(206, 249, 203) 30%, rgb(194, 250, 191) 88%,
     rgb(196, 255, 198) 40%, rgb(161, 237, 123) 78%);
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}
