 #boton {
    background: #cc2a1f;
    width: 7%;
    height: 10%;
    z-index: 3;
    border-radius: 50%;
    position: absolute;
    color: white;
    font-size: 1em;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    -webkit-box-shadow: 0 1.5vh 0 0 #842a2a;
    box-shadow: 0 1.5vh 0 0 #842a2a;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    border: 0.3vh solid black;
  }
  
  #boton:active {
    -webkit-box-shadow: 0 1px 1px 1px #8C0606;
    box-shadow: 0 1px 1px 1px #8C0606;
  }
  
  #boton:active{
    display: absolute;
    -webkit-transform: rotate(0deg) scaleY(1);
    -ms-transform: rotate(0deg) scaleY(1);
    transform: rotate(0deg) scaleY(1);
    -webkit-animation: anims 0s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: anims 0s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  @keyframes anims {
    0% {
      -webkit-transform: rotate(-30deg) scaleY(0.25);
      transform: rotate(-30deg) scaleY(0.25);
    }
  
    100% {
      -webkit-transform: rotate(0deg) scaleY(1);
      transform: rotate(0deg) scaleY(1);
    }
  }
  