:root {
    --aleatorio: 0px;
    --lago: 0px;
    --left: 0vw;
    font-size: 16px;
  }
  body{
    background-image: url(./img/fondo.jpg);
    background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position:center;
  }
  .juego{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
  h1{
    text-align: center;
    margin-left: 25%;
    font-size: 4em;
    margin-top: 2%;
    font-family:'Times New Roman', Times, serif;
    border-style: solid;
    width: 50%;
  }
  h2{
    text-align: center;
    margin-left: 29%;
    font-size: 2em;
    margin-top: 2%;
    font-family:'Times New Roman', Times, serif;
    width: 50%;
  }
  #fabrica{
   grid-column: 1;
   grid-row: 1;
   z-index: 2;
   
  }
  #fabrica > img{
    grid-column: 2;
    grid-row: 1;
    width: 150%;
    height: auto;
   }
#cinta{
  position: relative;
    grid-column: 2;
    grid-row: 1;
    z-index: 1;
    height: 60%;
}
#cinta > img{
    width: 100%;
    margin-top: 50%;
    margin-left: 6%;
    
}
#objeto{
  position: absolute;
  z-index: 1;
  width: 20%;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  margin-bottom: 20%;
  margin-right: 70%;
  animation: mover-derecha 2s linear infinite forwards;
}
#objeto > img {
  width: 100%;
  height: auto;
  visibility: visible;
}
#papelera{
  position: absolute;
  z-index: -1;
  width: 20%;
  height: 28%;
  bottom: 0;
  right: 0;
  margin-bottom: 9%;
  margin-right: 70%;
  animation: mover 2s ease-in-out;
}
#papelera > img {
  width: 100%;
  height: auto;
}
#lago{
    position: relative;
    grid-column: 3;
    grid-row: 1;
    top: 10%;
    left: 3%;
    z-index: 0;
    width: 80%;
    height: auto;
}
#lago > img {
  width: 100%;
  height: auto;
}

#boton{
  position: absolute;
  z-index: 3;
  margin-top: 10%;
  margin-left: 50%;
}

@keyframes mover-derecha {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(var(--lago, 0px));
    }
  }
  @keyframes mover {
    0% {
      transform: translateX(0);
    }
    50% {
        transform: translateX(var(--aleatorio, 0px));
      }
    100% {
      transform: translateX(var(--aleatorio) -300px);
    }
  }

  