button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 2.2vw;
  padding: 3vw 4vw;
  color: rgb(255, 255, 255);
  background: #cdc3c9;
  background: linear-gradient(to right, #89ef90, #49c02b, #89ef90);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 5vw;
  width: 80%;
  max-width: 400px;
  height: 12.5vh;
  margin: 10vh auto;
}

button svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  width: 10vw;
  max-width: 50px;
  height: auto;
}

button span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button:hover svg {
  transform: translateX(5px) rotate(90deg);
}

button:hover span {
  transform: translateX(7px);
}
button svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  width: 10vw;
  max-width: 50px;
  height: auto;
}
