:root {
    --color-fondo: rgb(242, 243, 242);
    --color-fondo-sombra: rgb(195, 229, 190);
    --color-verde-palido: rgb(134, 163, 130);
    --color-verde-claro: rgb(58, 165, 46);
    --color-amarillo-verdoso: rgb(143, 213, 13);
    --color-amarillo-brillante: rgb(195, 231, 52);
    --color-amarillo-ultra: rgb(255, 247, 0);
  }
  