:root {
    --color-fondo: #f2f3f2;
    --color-fondo-sombra: #c3e5be;
    --color-verde-palido: #86A382;
    --color-verde-claro: #3aa52e;
    --color-amarillo-verdoso: #8fd50d;
    --color-amarillo-brillante: #c3e734;
    --color-amarillo-ultra: #fff700;
  }
  