@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.container {
  display: flex;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  
}

.sidebar {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  height: auto;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.sidebar--oculto{
  visibility: hidden;
}

a{
  color: black;
  text-decoration-color: none;
  
}

a:hover {
  text-decoration: none;
  text-decoration-color: none;
}

.sidebar li {
  margin-right: 30px;
  margin-bottom: 5px;
  list-style: none;
  font-size: 14px;
  text-shadow: 0.1px 0.1px 0 #ffffff;
    }

.content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  
}
