.container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  
  .sidebar {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: auto;
    border: 1px;
    border-style:solid;
    box-shadow: 0 0 40px rgba(0, 0, 0, 1);
    background-color: rgba(111, 181, 102, 0.52);
    /* background-color: rgba(104, 220, 46, 0.30); */
  }

  .sidebar--oculto {
    visibility: hidden;
  }
  a{
    color: black;
    text-decoration-color: none;
  }
  a:hover {
    text-decoration: none;
    text-decoration-color: none;
    
}
  .sidebar li {
    margin-bottom: 5px;
    list-style: none;
    font-size: 14px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }
  