*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Open Sans';
  }

  .social{
    position: absolute;
    top: 50%;
    left: 40px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-self: center;
    width: auto;
    border-radius: 30px;
    margin: 20px;
    background: var(--color-fondo-sombra);
    border: 1px;
    /* grid-gap: 1px; */
  }
  
  .grid-item {
    /* background-color: #ccc; */
    padding: 20px;
    text-align: center;
    
  }
  
  #messagelist1 {
    grid-column: 2 /span 3 ;
    grid-row: 1;
    justify-self: left;
    border-image-slice: 3;
    border-image-width: 3;
    border-image-repeat: stretch;
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
    border-image-outset: 2;
    position: relative;
    bottom: 14px;
    display: inline-block;
    padding: 1rem 1.5rem;
    margin: 8px;
    margin-bottom: 30px;
    background-color: #fff;
  
    }
    
    .imagen1{
    position: relative;
    top:10px;
    grid-column: 1;
    grid-row: 1;
    justify-self: right;
    width: 30vh;
    height: auto;
    /* transform: scaleX(-1); */
  
  }
  
  
  #messagelist2 {
    grid-column: 1 /span 3 ;
    grid-row: 2;
    justify-self: right;
    border-image-slice: 3;
    border-image-width: 3;
    border-image-repeat: stretch;
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
    border-image-outset: 2;
    position: relative;
    bottom: 18px;
    display: inline-block;
    padding: 1rem 1.5rem;
    margin: 8px;
    margin-bottom: 30px;
    background-color: #fff;
      }
  .imagen2{
    position: relative;
    top:10px;
    grid-column: 4;
    grid-row: 2;
    justify-self: left;
    width: 30vh;
    height: auto;
    transform: scaleX(-1);
  
  }
  
  #messagelist3 {
    grid-column: 2 /span 3 ;
    grid-row: 3;
    justify-self: left;
    border-image-slice: 3;
    border-image-width: 3;
    border-image-repeat: stretch;
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
    border-image-outset: 2;
    position: relative;
    bottom: 18px;
    display: inline-block;
    padding: 1rem 1.5rem;
    margin: 8px;
    margin-bottom: 30px;
    background-color: #fff
   
  }
  
  .imagen3{
    position: relative;
    top:10px;
    grid-column: 1;
    grid-row: 3;
    justify-self: right;
    width: 30vh;
    height: auto;
    /* transform: scaleX(-1); */ 
  }
  
  #messagelist4 {
    grid-column: 1 /span 3 ;
    grid-row: 4;
    justify-self: right;
    border-image-slice: 3;
    border-image-width: 3;
    border-image-repeat: stretch;
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
    border-image-outset: 2;
    position: relative;
    bottom: 18px;
    display: inline-block;
    padding: 1rem 1.5rem;
    margin: 8px;
    margin-bottom: 30px;
    background-color: #fff
  }
  
  
  .imagen4{
    position: relative;
    top:10px;
    grid-column: 4;
    grid-row: 4;
    justify-self: left;
    width: 30vh;
    height: auto;
    transform: scaleX(-1);
  
  }
  #messagelist1, #messagelist2, #messagelist3, #messagelist4 {
    
      background-color: rgba(0,0,0,0);
      font-size: 20px;
    
    
  }
  
  
@media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm){
.nes-balloon {
    border-image-repeat: stretch;
}}